In [1]:
import pandas as pd

In [106]:
dc_marvel = pd.read_csv('data/marvel_dc_characters.csv')
power_matrix = pd.read_csv('data/superheroes_power_matrix.csv')
char_stats = pd.read_csv('data/characters_stats.csv')
char_stats = pd.concat([char_stats.iloc[:,0:1], char_stats.iloc[:,2:]], axis=1)

In [115]:
all_charaters = pd.merge(
    dc_marvel,
    char_stats,
    how="left",
    on="Name")

In [116]:
all_charaters.shape

(39628, 24)

In [117]:
pd.options.display.max_rows = 200
pd.DataFrame(all_charaters.isna().sum())

                           0
Name                       0
Era                      155
Identity                9549
Alignment               6217
EyeColor               23148
HairColor              10792
Gender                  1827
Status                     9
Appearances             2541
FirstAppearance_Year    1697
FirstAppearance_Month   1699
Year                    1697
Universe                   0
Race                   16557
SkinColor              34967
Height                 10704
Weight                 12025
Intelligence           39097
Strength               39097
Speed                  39097
Durability             39097
Power                  39097
Combat                 39097
Total                  39097

In [89]:
all_charaters["Name"].unique().shape

(21815,)

In [113]:
all_charaters.to_csv( 'characters_processed.csv', index=False)

In [114]:
pd.read_csv('characters_processed.csv')

,Name,Era,Identity,Alignment,EyeColor,HairColor,Gender,Status,Appearances,FirstAppearance_Year,...,SkinColor,Height,Weight,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,Nightwing,New Earth,Secret,NaN,Blue,NaN,Male,Living,NaN,2010.0,...,NaN,178.0,79.0,88,11,33,28,36,100,296
1,Impulse,New Earth,Secret,Bad,NaN,NaN,Male,Living,1.0,2007.0,...,NaN,170.0,65.0,50,10,100,60,63,60,343
2,Impulse,Earth-616,Secret,Neutral,NaN,No,Male,Deceased,15.0,1977.0,...,NaN,170.0,65.0,50,10,100,60,63,60,343
3,Impulse,Earth-616,Secret,Neutral,NaN,No,Male,Deceased,15.0,1977.0,...,NaN,170.0,65.0,50,10,100,60,63,60,343
4,Impulse,Earth-616,Secret,Good,NaN,NaN,Male,Living,5.0,NaN,...,NaN,170.0,65.0,50,10,100,60,63,60,343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,Hollow,Earth-616,Secret,Bad,Brown,Bald,Male,Deceased,3.0,NaN,...,NaN,170.0,NaN,1,1,1,1,0,1,5
527,Meltdown,Earth-616,Secret,Bad,NaN,NaN,Male,Deceased,7.0,NaN,...,NaN,165.0,54.0,38,10,12,42,58,64,224
528,Meltdown,Earth-616,Secret,Bad,NaN,NaN,Male,Deceased,7.0,NaN,...,NaN,165.0,54.0,38,10,12,42,58,64,224
529,Rogue,Earth-616,Secret,Good,Green,Auburn,Female,Living,850.0,NaN,...,NaN,173.0,54.0,75,10,12,28,80,80,285
530,Rogue,Earth-616,Secret,Good,Green,Auburn,Female,Living,850.0,NaN,...,NaN,173.0,54.0,75,10,12,28,80,80,285